* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 70px;
  width: 100%;
  background-color: #ec715f;
}

.header-box {
  width: 1024px;
  margin: 0 auto;
}

.logo {
  height: 70px;
}

nav {
  float: right;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  justify-content: space-around;
  padding: 0 30px;
  line-height: 70px;
  font-size: 16px;
  color: #fafafa;
}

footer {
  height: 60px;
  width: 100%;
  background-color: #ec715f;
  line-height: 60px;
  text-align: center;
}

.footer-text {
  font-size: 16px;
  color: #fafafa;
}
